/* Tags principais */
body {
    font-family: "Averia Libre", sans-serif;
}
header {
    background-color:#C1E7E3;
}
header button {
    background-color: #419ED7;
    border: 1px solid #419ED7;
    box-sizing: border-box;
    height: 52px;
    width: 198px;
}
/* ESTILIZAÇÃO DAS IDS*/

/* ESTILIZAÇÃO DAS CLASS*/
.seringa-icon {
    height: 30px;
    width: 30px;
}