/* Tags principais */
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}
body {
    font-family: "Averia Libre", cursive;
    width: 100%;
}
header {
    background-color:#C1E7E3;
}
header button {
    background-color: #419ED7;
    border: 1px solid #419ED7;
    box-sizing: border-box;
    height: 52px;
    width: 198px;
}
/* ESTILIZAÇÃO DAS IDS*/

/* ESTILIZAÇÃO DAS CLASS*/
.seringa-icon {
    height: 30px;
    width: 30px;
}
.botao-padrao {
    background-color: #49B976;
    border: 1px solid #37BD6D;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
}
.logo {
    font-size: 48px;
    color: #419ED7;
}
.item-menu button{
    color: #FFFFFF;
}