main {
    background-color: #add4d1;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {
	/*height: 300px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	border: 1px solid red;
}
/* ESTILIZAÇÃO DAS CLASS*/
.item-menu {
	align-items: center;
	border: 1px solid red;
	margin-top: 17px;
	margin-bottom: 17px;
}