main {
    background-color: #add4d1;
	border: 1px solid #add4d1;
	height: calc(100vh - 90px);
}
input {
	width: 585px;
	height: 45px;
	margin-bottom: 20px;
	font-size: 30px;
	color: #3F92C5;
}
label {
	color: #FFFFFF;
	font-size: 30px;
}
fieldset {
	border: none;
	align-items: center;
	justify-content: center;
	margin-top: 250px;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
#botao-entrar {
    margin-top: 50px;
    margin-bottom: 90px;
    text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 23px;
	width: 185px;
	height: 50px;
}
#conteudo {
    text-align: center;
	margin-bottom: 57px;
}
#esqueci-senha {
	font-size: 22px;
	color: #419ED7;
}
#lblAviso {
	font-size: 23px;
	color: #FD7979;
}
/* ESTILIZAÇÃO DAS CLASS*/
.item-menu {
	margin-top: 13px;
	margin-bottom: 13px;
}
.item-menu button {
	text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	padding: 12px;
	margin-right: 22px;
}
.div-labels {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 30%;
	padding-right: 20px;
}
.rigth {
	width: 70%;
}