main {
    background-color: #add4d1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {   					/* header */
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
input.pesquisa {
	background-image: url(../imagens/icon-lupa.png);
	background-repeat: no-repeat;
	background-position: 8px;
	font-size: 23px;
}
/* ESTILIZAÇÃO DAS ID's*/
#buttonDose{
	display: flex;
	justify-content: center;
	background-color: #3F92C5;
	width: 90px;
	height: 23px;
	border: none;
	color: #FFFFFF;
	border-radius: 2px;
}
#pesquisa {
    height: 35px;
    width: 1370px;
	margin: 25px 75px 25px 75px;
	padding-left: 50px;
	border: none;
}
#proxVacina {
	text-align: right;
	margin-right: 10px;
	color: #FD7979;
	font-size: 16px;
	width: 100%;
	margin-top: 30px;
}
#botao-novavacina {
    margin-top: 80px;
    margin-bottom: 130px;
    text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	width: 188px;
	height: 50px;
	border-radius: 5px;
}
#botao-novavacina:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}
#conteudo {
    text-align: center;	
}
#data{
	color: #8B8B8B;
}
/* ESTILIZAÇÃO DAS CLASS*/
.card-vacinas {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	padding: 5px;
	width: 300px;
    height: 290px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.item-menu {
	margin-top: 13px;
	margin-bottom: 13px;
}
.item-menu button {
	text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	padding: 12px;
	margin-right: 22px;
}
.item-vacinas {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	column-gap: 10px;
	row-gap: 10px;
	flex-wrap: wrap;
	margin-top: 20px;
	width: 90%;
}
.card-vacinas p, button, h1, h3{
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-vacinas h1{ /*Titulo da vacina*/
	color: #3F92C5;
}
.card-vacinas img{
	margin-top: 15px;
	width: 95%;
	height: 120px;
}