main {
    background: linear-gradient(179.55deg, rgba(255, 255, 255, 0.24) 15.85%, rgba(255, 255, 255, 0.48) 40.1%, rgba(255, 255, 255, 0) 68.12%);
}
main button {
    background-color: #419ED7;
    border: 1px solid #419ED7;
    width: 304px;
    height: 59px;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {
	/*height: 300px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
#conteudo {
    text-align: center;
}
/* ESTILIZAÇÃO DAS CLASS*/
/*.item-cartoes {
	background: #5dcad1;
	height: 230px;
	width: 230px;
	margin: 30px;
	align-items: center;
	justify-content: center;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.5); 
	transition: 0.2s ease;
}*/