body {
	margin: 0;
}
header {
    background-color: #8FE1D9;
}
main {
	background: linear-gradient(179.55deg, rgba(255, 255, 255, 0.24) 15.85%, rgba(255, 255, 255, 0.48) 40.1%, rgba(255, 255, 255, 0) 68.12%), url(../imagens/imgfundo.jpg);
	margin: 0;
	height: calc(100vh - 90px);
	display: flex;
	align-items: center;
	justify-content: center;
}
main button {
    background-color: #419ED7;
    border: 1px solid #419ED7;
    width: 304px;
    height: 59px;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
#conteudo {
    text-align: center;
	width: 800px;
	height: 350px;
	margin-left: 110px;
	margin-right: 130px;
}
#botao-criarconta {
    margin-top: 85px;
    margin-bottom: 30px;
    text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	width: 304px;
	height: 59px;
}
#titulo {
	text-align: center;
	color:#419ED7;
	font-family: 'Averia Libre';
	font-size: 60px;
}
/* ESTILIZAÇÃO DAS CLASS*/
.item-menu {
	align-items: center;
	margin-top: 17px;
	margin-bottom: 17px;
}
.item-menu button {
	text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	padding: 12px;
	margin-right: 22px;
}
