header {
    background-color: #8FE1D9;
}
main {
	background-image: url(../imagens/imgfundo.jpg);
	padding: 250px;
}
main button {
    background-color: #419ED7;
    border: 1px solid #419ED7;
    width: 304px;
    height: 59px;
}
/* ESTILIZAÇÃO DAS IDS*/
#menu {
	/*height: 300px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
#conteudo {
    text-align: center;
	
}
#botao-criarconta {
    margin-top: 85px;
    margin-bottom: 300px;
    text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	width: 304px;
	height: 59px;
}
#titulo {
	text-align: center;
	color:#419ED7;
	font-family: 'Averia Libre';
	font-size: 64px;
}
/* ESTILIZAÇÃO DAS CLASS*/
.item-menu {
	align-items: center;
	margin-top: 17px;
	margin-bottom: 17px;
}
.item-menu button {
	text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	padding: 12px;
	margin-right: 22px;
}
