body {
	margin: 0;
}
main {
    background-color: #add4d1;
	width: 100%;
	margin: 0;
	height: calc(100vh - 90px);
}
input {
	width: 585px;
	height: 45px;
	/*margin-bottom: 20px;*/
	font-size: 30px;
	color: #3F92C5;
}
label {
	color: #FFFFFF;
	font-size: 30px;
}
fieldset {
	border: none;
}
/* ESTILIZAÇÃO DAS IDS*/
#botao-recuperar {
    margin-top: 50px;
    /*margin-bottom: 40px;*/
    text-align: center;
	color:#FFFFFF;
	font-family: 'Averia Libre';
	font-size: 24px;
	width: 275px;
	height: 59px;
}
#conteudo {
    text-align: center;	
}
#menu {
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
/* ESTILIZAÇÃO DAS CLASS*/
.div-labels {
	margin-top: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 30%;
	padding-right: 20px;
}
.rigth {
	width: 70%;
}
.item-menu {
	align-items: center;
	margin-top: 17px;
	margin-bottom: 17px;
}